

.article-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-lg);
margin: 0 auto; 
  border: 2px solid green;
  padding: var(--space-xxl) var(--space-md) var(--space-xxl) var(--space-md);
}

.article__image{
    width: 100%;
}

.article__main{
   gap: 1em;
   display: flex;
   flex-direction: column;
}